<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="images"></div>
<div class="col-md-8 col-sm-offset-2 text-center">
    <p><img src="{% static 'images/404.jpg' %}" alt="" class="img-rounded" style="width: 700px;">
    </p>
    <p>
        <a href="/xianyu/"> <button type="button" class="btn btn-primary btn-lg"> 返回首页 </button></a>
    </p>
</div>
</div>

</body>
</html>
