<!--
@Author liutao
-->

{% load static %}

<div id="a_header" class="a_header">
    <div class="info">
        <div class="left_info">
            <ul>
                <li>成都</li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="right_info">
            <ul>
                <li><a href="/xianyu/" id="list_login">58同城首页</a></li>
                <li>搜索</li>
                <li ><a href="{{ n_url }}" id="list_login"> {{ username }}</a></li>
                <li><a href="{{ s_url }} " id="list_login">{{ signup }}</a></li>
                <li>我的58 </li>
                <li><a href="" id="list_login"> VIP中心</a></li>
                <li><a href="" id="list_login"> 帮助</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="a_header_searchs">
    <div class="a_header_search">
        <div class="a_header_search_zzlog"></div>
        <div class="a_header_search_logan"></div>
        <div class="a_header_search__search">
            <form id="search_loc" method="get" action="" role="form">
                <div class="form-group">
                    {{ fs }}
                </div>
                <input type="submit" class="search_on" value="">
            </form>
        </div>
        <div class="gotosearch">
            <a href="/xianyu/ap/"> 免费发布信息</a>
        </div>
    </div>
</div>



