<!--
@Author liutao
-->

{% load static %}
<html>
<head>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/body.css' %}" rel="stylesheet">
    <link href="{% static 'css/index_footer.css' %}" rel="stylesheet">
</head>
<body>
<div id="header" class="header">
    <div class="header_top">
        <div class="header_top_img">
            <span>
                <img src="{% static 'images/loadbtn.png' %}">
            </span>
        </div>
    </div>
    <div class="header_but">
        <ul>
            <li>真实个人 名企认证</li>
            <li>专业服务 专业保障</li>
            <li>担保交易 安全靠谱</li>
            <li>微信好友 趣味互动</li>
        </ul>
    </div>
</div>

<div class="body">
    <div class="body_top">
    </div>
    <div class="body_second">
        <h2>转转分类</h2>
            <li>台式机</li>
            <li>笔记本</li>
            <li>平板电脑</li>
            <li><a href="/xianyu/moblephone/" >手机</a></li>
            <li>数码产品</li>
            <li>家电</li>
            <li>家具</li>
            <li>家居用品</li>
            <li>服装衣帽</li>
            <li>美容保健</li>
            <li>文体户外</li>
            <li>图书音像</li>
            <li>摩托车</li>
            <li>电动车</li>
            <li>自行车</li>
            <li>母婴儿童</li>
        </ul>
    </div>

    <div class="body_third body_p">
        <h2>手机数码</h2>
        <div id="shuma">
            {% for p in phones %}
            <div class="shuma_d">
                    <img src="{{ p.img_address }}">
                    <div class="shuma_d_detil_text">
                        <h5><a href="detail?pid={{ p.p_id }}" >{{ p.p_name }}</a></h5>
                        <p>
                            <img src="{{ p.u_touxiang }}" alt="" class="img-circle">&nbsp
                            {{ p.u_name }}
                        </p>
                        <p class="shuma_money"><strong>￥ {{ p.p_money }}</strong></p>
                    </div>
            </div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="body_fourth body_p">
        <h2>生活家居</h2>
        <ul></ul>
    </div>

    <div class="body_fourth body_p">
        <h2>代步工具</h2>
        <ul></ul>
    </div>
</div>

<div class="footer">
    <div class="f_image">
        <img src="{% static 'images/WechatIMG661.jpeg' %}">
    </div>
    <div class="f_text">
        <p>power by feiniu</p>
        <p>北京转转精神科技有限责任公司</p>
        <p>联系我们 微信服务号：转转</p>
        <p>Copyright© 2015-2017 zhuanzhuan.com. All Rights Reserved.</p>
        <p>京ICP备11018762号-11</p>
    </div>
</div>
</body>
</html>
