<div class="nav">
    <span>成都 58同城 ></span>
    <span>成都二手市场 ></span>
    <span>成都二手手机 </span>
</div>

<div class="selection">
    <div class="secitem">
        <span class="left-selection">类别：</span>
        <span class="right-selection">
            <a class="a_left">全部</a>
            <a href="">苹果</a>
            <a href="">三星</a>
            <a href="">华为</a>
            <a href="">小米</a>
            <a href="">OPPO</a>
            <a href="">vivo</a>
            <a href="">魅族</a>
        </span>
    </div>
    <div class="secitem">
        <span class="left-selection">价格：</span>
        <span class="right-selection">
            <a class="a_left">全部</a>
            <a href="">100元以下</a>
            <a href="">100-500元</a>
            <a href="">500-1000元</a>
            <a href="">1000-2000元</a>
        </span>
    </div>
    <div class="secitem">
        <span class="left-selection">区域：</span>
        <span class="right-selection">
            <a class="a_left">全部</a>
            <a href="">全成都</a>
            <a href="">金堂</a>
            <a href="">高新西区</a>
            <a href="">双流</a>
            <a href="">青羊</a>
            <a href="">金牛</a>
        </span>
    </div>
</div>
