{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
</head>
<body>
<img src="{% static 'images/reg-bg.png' %}" alt width="100%" height="100%" style="z-index:-1;position: fixed;top:0; left:0;right: 0; bottom: 0; ">
<div class="signup-info">
    <div class="signup-info-top">
        <span class="signup-info-top-left">返回首页</span>
        <span class="signup-info-top-right"><a href="../login">已有帐户？去登陆</a></span>
    </div>
    <div class="signup-info-logo">
        <div class="signup-info-logo-png">
        </div>
    </div>
    <div class="signup-info-box">
        <div class="signup-info-box-a">
            <form method="post" action="/xianyu/signup/">

                {{sf.as_p}}
                <span class="tips">{{ tip }}</span>
                <input type="submit" value="注册" class="tijiao">
            </form>
        </div>
    </div>
    <div class="signup-info-botton">
        <span>© 58.com</span>
        <span>|</span>
        <span>联系客服</span>
        <span>|</span>
        <span>帮助</span>
    </div>
</div>

</body>
</html>
