/* myself */
#main{ width: 1190px; height: auto; margin: 10px auto;}
#main>div{ float: left;}
#main .main-left{ width: 980px; height: auto;}
#main .main-right{width: 190px; height: auto; padding-left: 20px;}
.table img{ width: 150px; height: 150px;}
.img{ width: 160px;}
.name{ width: 170px;}
.user{width: 100px;}
.text-muted a{ text-decoration: none;}
.money{ color:#ff5230; }

/* bootstrap */



/* footer */
.footer{ margin-top: 20px;}
