.body{ width: 1190px; height: auto; margin: 0 auto;}
.body .body_top{width: 1190px; height: 400px; background-image: url("../images/banner_pc_website.jpg");}

.body_second{ width: auto; height: auto;}
.body_second li{ list-style-type: none; float: left; width: 12.5%; height: 40px;}

h2{ color: #ff5f57; font-size: 18px; font-weight: 600;}

#shuma{ width: 100%; height: 300px;}
#shuma > .shuma_d{ width: 25%; height: 300px; float: left;}

.shuma_d > img{ width: 200px; height: 200px;}
.shuma_d_detil_text > *{ margin-left: 20px;}
.shuma_d_detil_text img{ width: 20px;height: 20px;}
.shuma_d_detil_text > .shuma_money{ color:#ff5647; }

a:link,a:visited{color:#444;text-decoration:none;}
a:hover{color:#ff0000;}
